<?php 
/* Copyright 2011 - 88 Creative Pty Ltd. 
 * Copyright of this program is the property of 88 Creative, 
 * without whose written permission reproduction in
 * whole or in part is prohibited. All rights reserved.
 * http://www.inform8.com
 * http://www.88creative.com.au
 */
?><?php 
	if ($authManager == NULL) die;
	if (!$authManager->isAuthenticated()) die;
	
	$displaySettings = $_SESSION['${table.name}.ListDisplaySettings'];
	if ($displaySettings == NULL) {
		$displaySettings = new DisplaySettings('${table.name}');
		$_SESSION['${table.name}.ListDisplaySettings'] = $displaySettings;
	}
	
	$restrict = Request::getOrPost("restrict");

	$order = Request::getOrPost("order");
	if($order != NULL) {
		$displaySettings->setPrimaryOrder($order);
	}
	
	if ($restrict != NULL) {
		if ($restrict == 'enabled') {
			echo "setDisplayEnabled";
			$displaySettings->setDisplayEnabled();
		}else if ($restrict == 'disabled') {
			echo "setDisplayDisabled";
			$displaySettings->setDisplayDisabled();
		}else if ($restrict == 'all') {
			echo "setDisplayAll";
			$displaySettings->setDisplayAll();
		}
		$_SESSION["${table.name}.ListDisplaySettings"] = $displaySettings;
	}
	
	$pageid = time();
	$gridId = 'grid${table.name}' . $pageid;	
	$pagerId = 'grid-pager-${table.name}-' . $pageid;
	$toolbarId = 'grid-toolbar-${table.name}-' . $pageid;	
	
	$tempquickSearchId = 'grid-tempqsearch-${table.name}-' . $pageid;
	$quickSearchId = 'grid-qsearch-${table.name}-' . $pageid;
	$quickSearchFormId = 'grid-qsearch-form-${table.name}-' . $pageid;
	
	$quickEditId = 'quick-edit-${table.name}-' . $pageid;	
	
?>

<?php
  if (file_exists('ajax/${table.name}Manager_BG.inc.php')) {
    include 'ajax/${table.name}Manager_BG.inc.php';
  }
?>

<div id="manager">
    
	<div id="<?php echo $toolbarId; ?>" class="jack-ui-wrapper">
		<div class="jack-ui-toolbar">
    		#set ($reloadGrid = true)
			#parse('includes/manager/toolbar-std.php.inc.vm')
		
			<div class="jack-ui-toolbar-action">
    			<div class="jack-ui-toolbar-option">
    				<a href="excel/${table.name}/ALL/ALL?expanded=1" target="_new"><img src="images/smtb/excel.png" /></a>
    			</div>
     			<div class="jack-ui-toolbar-option">
    				<a href="excel/${table.name}/ALL/ALL?expanded=1" target="_new"><?php echo WebContext::getLanguage()->get('excel'); ?></a>
    			</div>
     		</div>			
			
			#parse('includes/manager/search.php.inc.vm')
			
			<div style="clear: both;" />
		</div>
		
		
	</div>
	
	<div id="manager-grid">
		<table id="<?php echo $gridId ?>"></table> 
		<div id="<?php echo $pagerId ?>"></div> 
    </div>
</div>
</div>


<?php
  if (file_exists('ajax/${table.name}Manager_AG.inc.php')) {
    include 'ajax/${table.name}Manager_AG.inc.php';
  }
?>

<script language="javascript">
	var tbarLoaded = false;
	
	jQuery("#<?php echo $gridId ?>").jqGrid({ 
		url:'jsongridrest.php?object=${table.name}&field=ALL&value=ALL', 
		datatype: "json", 
		colNames:[
		'<?php echo WebContext::getLanguage()->get('actions'); ?>',
		'<?php echo WebContext::getLanguage()->get('Tbl_${table.name}_${table.primaryKey.name}'); ?>'
		#foreach( $col in $table.columns )	#if(!${col.settings.hasLabel('hidden')}) ,'<?php echo WebContext::getLanguage()->get('Tbl_${table.name}_${col.name}'); ?>' #end #end	
		], 
		colModel:[ 
			{name:'EditButtons', width:50},
			{name:'id', index:'${table.primaryKey.name}', width:${table.primaryKey.settings.getProperty('gridWidth', '50')}, key:true}
			#foreach( $col in ${table.columns} )	
				#if(!${col.settings.hasLabel('hidden')})
					,{name:'${col.name}', width:${col.settings.getProperty('gridWidth', '100')} #if($col.masterForeignKey),formatter:formatTableLink #else ,formatter:formatCell #end }
				#end 
			#end	
		],
		rowNum:50, 
		width:850,
		height: 200,
		ondblClickRow: function(id){ newTab('ajax.php?action=Update&object=${table.name}&id='+id, '<?php echo WebContext::getLanguage()->get('Tbl_${table.name}'); ?> ' + id );},
		onSelectRow: function(id){  },
		rowList:[10,20,50, 100, 200, 500], 
		pager: '#<?php echo $pagerId ?>', 
		#if(!${table.settings.hasLabel('DB_READ_ONLY')} && !${table.settings.hasLabel('UI_READ_ONLY')})multiselect: true,#end 
		viewrecords: true, 
		#if (!${table.isOrdered()} && !$table.getParentChildMember())
			sortname: '${table.primaryKey.name}',
			sortorder: "asc", 
		#end
		toolbar: [true,"top"],
		loadComplete: function(xhr) { 

			window.I8.grids.<?php echo $gridId ?> = new Object();
			window.I8.grids.<?php echo $gridId ?>.rows = new Object();
			
			var daRows = ${ds}.parseJSON(xhr.responseText).rows;
			var pkIdx = window.I8.td.${table.name}.primaryKey.name;
			
			for(idx in daRows) {
				var r = daRows[idx];
				window.I8.grids.<?php echo $gridId ?>.rows[r[pkIdx]] = new Object();
				for (cidx in r.cell) {
					if (cidx != 0) {
						var memAndVal = ${ds}.parseJSON(r.cell[cidx]);
						if (typeof(memAndVal) == 'object') {
  						if ('lval' in memAndVal) {
  							window.I8.grids.<?php echo $gridId ?>.rows[r[pkIdx]][memAndVal.mem] = memAndVal.lval;
  						}else {
  							window.I8.grids.<?php echo $gridId ?>.rows[r[pkIdx]][memAndVal.mem] = memAndVal.val;
  						}
						}
					}
				}
			}

			var ids = $("#<?php echo $gridId ?>").jqGrid('getDataIDs'); 
			for(var i=0;i < ids.length;i++){ 
				var cl = ids[i]; 
				quickEdit = " <a href='#' title='Quick Edit' onclick=\"buildQuickEditPanel('<?php echo $gridId ?>', '"+cl+"', window.I8.td.${table.name}, '#<?php echo $quickEditId ?>' ); return false;\" ><img src='images/smtb/edit.jpg' /></a>"; 
				fullEdit = " <a href='#' title='View/Edit in a new tab' onclick=\"newTab('ajax.php?action=Update&object=${table.name}&id="+cl+"', '<?php echo WebContext::getLanguage()->get('Tbl_${table.name}'); ?> ' + "+cl+" ); return false;\" ><img src='images/smtb/advedit.jpg' /></a>";				
        #if (${table.settings.hasLabel('noquickedit')} || ${table.settings.hasLabel('DB_READ_ONLY')} || !${table.settings.hasLabel('UI_READ_ONLY')})
          $("#<?php echo $gridId ?>").jqGrid('setRowData',ids[i],{EditButtons:fullEdit});
        #else
          $("#<?php echo $gridId ?>").jqGrid('setRowData',ids[i],{EditButtons:quickEdit+fullEdit});
        #end				
		  }			
			if (!tbarLoaded) {
				var shtml = $("#<?php echo $toolbarId ?>").html();
				$("#t_<?php echo $gridId ?>").html(shtml);
				$("#<?php echo $toolbarId ?>").html('');
				tbarLoaded = true;
				
			    $("#<?php echo $quickSearchFormId; ?> > #search-datepicker").datepicker({dateFormat: 'yy-mm-dd'});
			}
		}, 	
		caption:"<?php echo WebContext::getLanguage()->get('Tbl_${table.name}'); ?>" });
		
	$("#<?php echo $gridId ?>").jqGrid('navGrid','#<?php echo $pagerId ?>',{edit:false,add:false,del:false,refresh:false,search:false});
	$(window).bind('resize', function() {
        $("#<?php echo $gridId ?>").setGridWidth($(window).width()-30);
				$("#<?php echo $gridId ?>").setGridHeight($(window).height()-300);
    }).trigger('resize');

</script>